.Rproj.user
.Rhistory
.RData
.Ruserdata
R-Projects.Rproj
PII/
Miscellaneous/
 County_Insecurity_2012_files/
County_Insecurity_2016_files/
State_Insecurity_2012_files/
State_Insecurity_2016_files/
County_Insecurity_Improvement_files/
State_Insecurity_Improvement_files/
